
@media screen and (max-width: 1300px){
    .gl_team_card {
    width: 46%;
    margin-bottom: 3em;
}
}
@media screen and (max-width: 1024px){
    .hero-bigtext{
    font-size: 5.9vw;
}
.menu a.logo{
    top: 12px;
    left: 20px;
}
.menu .main-menu{
    padding: 0 20px;
}
.gl_content_wrapper{
    max-width: 80%;
}
.gl_right_alignment{
    padding-right: 1.5em;
}
.gl_left_alignment{
        padding-left: 1.5em;
}
section#gl_1 .gl_bcontent p {
    font-size: 2.8vw;
}
.about-inner{
    padding: 5% 5% 5% 5%;
}
.ct-wrap h1{
    font-size: 8vw;
}
.ct-wrap{
    padding: 1em;
}
.ct-wrap p {
    font-size: 2.8vw;
}
section#gl_3 h1{
    font-size: 8vw;
}
section#gl_3 p{
    width: 100%;
    font-size: 2.8vw;
}
.rmTitle p{
  max-width: 100%;
    font-size: 2.8vw;  
}
.dropInner{
    padding: 5% 5% 5% 5%;
}
.card-flex{
    flex-direction: row;
        flex-wrap: wrap;
}
.card-flex a {
    margin-bottom: 1em;
}
#gl_4{
        padding: 0em 2em 1em;
}
.pte-title{
    max-width: 80%;
}
.pte-title h2 {
    font-size: 8vw;
    }
    .bg-col-card h2 {
    font-size: 6vw;
    }
    .bg-col-card span {
    font-size: 2vw;
}
.statistics-inner{
    gap: 1rem;
}
.pte-flex{
    display: block;
}
.pte-arrow-image {
    display: none;
}
.gl_guide_video{
    
    background-image: none;
    margin-left: 0;
    padding: 0;
}
#gl_4 .pte-content h3{
    font-size: 5vw;
}
section#gl_6{
        padding: 5em 2em 5em;
}
.timelineWrapper {
    width: 90%;
    margin: 5em auto;
}
.timeline-card h2 {
    font-size: 4vw;
    margin: auto;
}
.timeline-card {
    margin-left: 1em;
}
.rmTitle h1{
    font-size: 8vw;
}
section#gl_7{
    padding: 0em 2em 5em;
}
.teamTitle h2 {
    font-size: 8vw;
}
.teamTitle p {
    max-width: 100%;
    font-size: 4vw;
    }
    .bg-team-card{
        margin-bottom: 0;
    }
    ul.gl-footer-menu li.gl-menu-item a{
        padding: 10px 10px 10px;
    }
    ul.gl-footer-menu li.gl-menu-item{
        padding: 15px 0 15px;
    }
    .grid-col-12{
        padding: 0px;
    }
    section#gl_8{
            padding: 0em 2em 1em;
    }
    #gl_8 .partnerTitle h2{
        font-size: 8vw;
    }
    #gl_8 .partnerTitle p{
        font-size: 4vw;
        max-width: 100%;
    }
    .parnerSingle{
        width: 33.3%;
    }
    .partnerRow{
        margin-top: 2em;
    }
        .team-intro h2 {
    font-size: 4vw;
}
.team-intro p{
    font-size: 1.8vw;
}
.team-intro{
    margin-left: 1.6rem;
    padding-right: 1rem;
    margin-top: 14rem;
}
.team-intro span {
    font-size: 2vw;
}
}
@media (max-width: 550px){
.hero-bigtext{
font-size: 12.208vw;
}
   .gl_team_card {
    width: 100%;
}
section#gl_3 p {
    font-size: 5vw;
}
section#gl_3 p {
    max-width: 100%;
}
.pte-title {
    max-width: 100%;
}
.pte-flex{
    display: block;
}
.pte-arrow-image {
    display: none;
}
.gl_guide_video{
    
    background-image: none;
    margin-left: 0;
  }
#gl_4 .pte-content h3 {
    font-size: 8vw;
}
.about-inner{
    padding: 5% 5% 5% 5%;
}
.ct-wrap h1{
    font-size: 13vw;
}
.ct-wrap{
    padding: 1em;
}
.ct-wrap p {
    font-size: 5vw;
}
.gl_right_alignment{
    padding-right: 1.5em;
}
.gl_left_alignment{
        padding-left: 1.5em;
}
.gl_content_wrapper {
    max-width: 90%;
}
.gl_left_alignment{
        padding-left: 1.5em;
}
section#gl_1 .gl_bcontent p {
    font-size: 5vw;
}
.menu a.logo{
    top: 12px;
    left: 20px;
}
.gl-hero {
    padding: 5.87rem 3vw;
}
[for="tm"] .menu-toggle{
    right: 20px;
}
.bg-col-card h2 {
    font-size: 8vw;
    }
    .bg-col-card span {
    font-size: 4vw;
}
.statistics-inner{
    gap: 1rem;
}
section#gl_6{
        padding: 5em 2em 5em;
}
.rmTitle h1 {
    font-size: 8vw;
}
.rmTitle p {
    max-width: 100%;
    font-size: 4vw;
    }
    .timelineWrapper {
    width: 100%;
}
.timeline-card {
    margin-left: 1em;
}
.timeline-card h2 {
    font-size: 4vw;
    margin: auto;
}
section#gl_7{
    padding: 0em 2em 5em;
}
.teamTitle h2 {
    font-size: 8vw;
}
.teamTitle p {
    max-width: 100%;
    font-size: 4vw;
    }
    .bg-team-card{
        margin-bottom: 0;
    }
    ul.gl-footer-menu li.gl-menu-item a{
        padding: 10px 10px 10px;
    }
    ul.gl-footer-menu li.gl-menu-item{
        padding: 15px 0 15px;
    }
    .grid-col-12{
        padding: 0px;
    }
    section#gl_8{
            padding: 0em 2em 1em;
    }
    #gl_8 .partnerTitle h2{
        font-size: 8vw;
    }
    #gl_8 .partnerTitle p{
        font-size: 4vw;
        max-width: 100%;
    }
    .parnerSingle{
        width: 50%;
    }
    .partnerRow{
        margin-top: 2em;
    }
    .team-intro h2 {
    font-size: 7vw;
}
.team-intro p{
    font-size: 3.5vw;
}
.team-intro{
    margin-left: 1.6rem;
    padding-right: 1rem;
    margin-top: 12rem;
}
.team-intro span {
    font-size: 4vw;
}
.discord_btn {
    background-position: 0% !important;
    padding: 1em !important;
}
.menu .main-menu{
    position: fixed;
}
}